td {
    text-align: center;
    padding: 2px 8px;
}
.operations,
.problem {
    font-size: 32pt;
    font-family: arial,sans-serif;
}
.problem hr {
    height: 5px;
    color: #000;
    background-color: #000;
    clear: both;
}
.problem, .picOverlay {
    width: 130px;
}
.problem {
    padding-top: 32px;
    height: 142px;
}
.picOverlay {
    display: none;
    height: 174px;
}
.factor {
    float: right;
    clear: right;
    width: 2em;
    text-align: right;
}
.operator {
    float: left;
}
.message span {
    display: block;
}
.operations .button {
    margin-bottom: 4px;
}
.button.active {
    background-color: #6ac;
}
.button {
    text-decoration: none;
    color: #000;
    background-color: #ccc;
    display: block;
    padding: 0 8px;
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
}
